html
	head
		title Rater
	body
		h1 Authenticate to Rater
		div
			form(
				method="POST"
			)
				input(
					type="text"
					name="username"
					placeholder="Username ..."
				)
				br
				input(
					type="password"
					name="password"
					placeholder="Password ..."
				)
				br
				button(
					type="submit"
				) Submit